<div class="singUpMain">
<div class="card cardForm">
    <div class="card-body">
        <form  id="Form_body" (submit)= submit($event)>
            <h3 class="card-header" style="justify-content: center;">Signup Form</h3>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control txtBox" placeholder="">
              </div>
              <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control txtBox" placeholder="">
                </div>

                <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" name="age" id="age" class="form-control txtBox" placeholder="">
                </div>
                <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control ddlist" id="gender">
                                <option value="">Choose your Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>

                        </select>
                       

                       
                </div>
                <div class="form-check">
                        <label class="investmentInfo">
                          <input type="checkbox" id=inv_info class="form-check-input" value="">Done investment before
                        </label>
                      </div>

                      <div class="form-group">
                            <label for="TypeofStocks">Type of stocks you invest in</label>
                            <select class="form-control ddlist" id="TypeofStocks">
                                    <option value="">Choose your stock type</option>
                                    <option value="micro">Micro cap</option>
                                    <option value="small">Small cap</option>
                                    <option value="mid">Mid cap</option>
                                    <option value="large">Large cap</option>
                                   <option value="mega">Mega cap</option>                                
    
                            </select>
                           
    
                           
                    </div>

                    <button type="submit" value="submit" style="margin-right:1%"> submit</button>



        </form>
    </div>
</div>
</div>
